
/*  */

body {
  background: #dcdcdc; 
  
}

/* Заявка */
.super-general-text{
    font-size: 50px;
    text-align: center;
    font-family: Arial;
}

/* Перша таблиця */
.table-fill {
    display: inline-block;
    margin-left: 300px;
    width: 500px;
    min-height: 500px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

/* Загальний текст в таблиці 1 */
.general-text {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
    padding-left: 18px;
    padding-top: 5px;
}

/* Друга таблиця */
.table-info {
    vertical-align: top;
    display: inline-block;
    border-radius: 5px;
    margin-left: 20px;
    min-width: 400px;
    max-width: 600px;

    min-height: 100px;
    background-color: rgb(255, 255, 255);
}

.table-fill-general-text {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
    padding-left: 18px;
    padding-top: 5px;
}

.table-fill-segment2 {
    padding-left: 18px;
}

.tema{
    font-family: Arial;
}

.text {
    
    margin-top: 5px;
    display: block;
    border-style: solid;
    border-radius: 5px;
    width: 450px;
    height: 18px;
}

.priority-Select {
    font-family: Arial;
}

.priority-Select-choose {
    border-color: gray;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    width: 456px;
    height: 24px;
    border-style: solid;
    border-width: 2px;
}

.table-fill-segment2 {
    font-family: Arial;
    margin-top: 10px;
    padding-left: 18px;
}

.table-fill-segment3 {
    font-family: Arial;
    margin-top: 10px;
    padding-left: 18px;
}

.status-Select-choose {
    border-color: gray;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    width: 456px;
    height: 24px;
    border-style: solid;
    border-width: 2px;
}

.table-fill-segment4 {
    font-family: Arial;
    margin-top: 10px;
    padding-left: 18px;
}

.table-fill-description {
    font-family: Arial;
    margin-top: 10px;
    padding-left: 18px;
}

.description-text {
    resize: none;
    border-color: gray;
    border-width: 2px;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    width: 450px;
}

.buttons {
    font-family: Arial;
    margin-top: 50px;
    padding-left: 18px;
}

.button-add {
    background-color: rgb(72, 107, 168);
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    transition: 150ms;
    margin-right: 8px;
}

.button-add:hover {
    opacity: 0.8;
}

.button-add:active {
    opacity: 0.5;
}

.button-clear {
    background-color: rgb(136, 139, 144);
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    transition: 150ms;
}

.button-clear:hover {
    opacity: 0.8;
}

.button-clear:active {
    opacity: 0.5;
}

/* Стилі для таблиці */
#ticketsTable {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 15px;
  font-family: Arial, sans-serif;
}

#ticketsTable th, 
#ticketsTable td {
  border: 1px solid #ccc; 
  padding: 10px; 
  text-align: left; 
}

#ticketsTable th {
  background: #eee; 
}